In [12]:
list1 = [10, 21, 4, 45, 66, 93]
i = 0        
while(i < len(list1)):
    if list1[i] % 2 != 0:
        print(list1[i], end = " ")
    i += 1

21 45 93

In [ ]:
pythn program to reverse a list in two ways

In [15]:
cities_list= ['lahore', 'multan', 'peshawar']
cities_list.reverse()
print ('reversed list' , cities_list)

reversed list ['peshawar', 'multan', 'lahore']

In [ ]:
sum of list

In [6]:
num_list = [2, 2,1,1]
total = 0
for num in num_list:
    total = total + num
print("Sum of elements of list is", total)

Sum of elements of list is 6

In [ ]:
Question 5

In [2]:
list = [2, 4, 6, 8 ]
list.sort()
print(list[-2])

6

In [ ]:
QUESTION NO 6

In [18]:
list = [2, 4, 6, 8, 10 ]
list.reverse()
print(list)

[10, 8, 6, 4, 2]

In [ ]:
Question no7

In [19]:
mylist = ["a", "b", "b", "c", "a"]
mylist = sorted(set(mylist))
print(mylist)

['a', 'b', 'c']

In [ ]:
Qustion no 10

In [11]:
list1 = ['a','b', 'c', 'd' ]
list2 = ['e','f']
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 'd', 'e', 'f']